@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&family=Orbitron&display=swap');

:root {
    --black: #0E1014;
    --light-text: #E4E5EA;
    --text-gradient: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    --dark-gray: #656566;
}

body {
    /* overflow: hidden; */
    background-color: var(--black);
}
